{% import "macros/utilities/menus.html" as menus %}


{%- macro header(page, type) -%}
  <nav
    class="navbar navbar-expand header sticky-top "
  >
    <div class="container-fluid ">
      {%- if type == "page" -%}
        {%- set offcanvas_btn_class = "d-block d-lg-none text-white"  -%}
      {%- else -%}
        {%- set offcanvas_btn_class = "d-block d-xl-none text-white"  -%}
      {%- endif -%}
      <button
        type="button"
        class="btn {{ offcanvas_btn_class | safe }} fs-5 border "
        data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
        aria-controls="offcanvas"
      >
        <span class="bi bi-list text-white "></span>
      </button>
      
      <div class="">
        {% if page == "null" %}
          {{ menus::simple_top_bar_nav(type = type) }}
        {% else %}
          {{ menus::top_bar_nav(page = page, type = type) }}
        {% endif %}
      </div>
        <a onclick="switchLang('/pt')" id="ptLang" class="lang-item" data-bs-toggle="tooltip" data-bs-title="Mudar para português" data-bs-placement="left">
          <h2>🇧🇷</h2>
        </a>
        <a onclick="switchLang('')" id="enLang" class="d-none lang-item" data-bs-toggle="tooltip" data-bs-title="Change to english" data-bs-placement="left"> 
          <h2 >🇬🇧</h2>
        </a>
    </div>
  </nav>
{%- endmacro header -%}