{% extends "base.html" %}
{% import "macros/utilities/images.html" as images %}
{% import "macros/utilities/menus.html" as menus %}

{%- block sidebar -%}
{{ sidebar::sidebar(type = "section") }}
{%- endblock sidebar -%}

{%- block header -%}
{{ header::header(page = section, type = "section") }}
{%- endblock header -%}

{%- block content -%}
<main class="container heightHome align-items-center" >
  <div class="row justify-content-center  align-items-center h-100 ">
    <div class="col-auto mt-2">
      <div class="index-avatar  rounded-circle">
        {{ images::get_avatar() }}
      </div>
    </div>
    <div class="col-12 col-md-6 mt-2 ">
      <h1 class="text-center"> {{section.extra.description_title | safe}}</h1>
      <p class="text-center">{{section.description | safe}} </p>
      <div class="row justify-content-center fs-4">
        {{ menus::social_links() }}
      </div>
    </div>
  </div>

  
  <!-- <div class="row  justify-content-center mx-auto text-center">
    <div class="col-12">
      <h1>My tech stack</h1>
    </div>
    <div class="col-12 col-md-4 border rounded m-1 p-1 ">
    Java, Javascript, C#, HTML, CSS
    </div>
    <div class="col-12 col-md-4 border rounded m-1 p-1">
      Angular, Springboot, .Net Core
    </div>
    <div class="col-12 col-md-4 border rounded m-1 p-1">
      MySql, SqlServer, PostgreSQL
    </div>
    <div class="col-12 col-md-4 border rounded m-1 p-1">
      Docker, AWS, Azure
    </div>
  </div> -->

  </div>
</main>
{%- endblock content -%}